:root {
  --pink: #f681b5;
  --green: #28a428;
  --orange: #ff8949;
  --navy: #203054;
}

.navbar-brand > img {
  height: 4em;
  width: 4em;
}

.navbar-dark {
  background-color: #f681b5;
}

.nav-link {
  color: white !important;
  font-family: "Spartan", Sans-Serif;
  font-size: 0.9em;
  font-weight: 400;
}

.text-in-jumbotron {
  font-size: 3em !important;
  font-family: "Spartan", Sans-Serif;
  font-weight: 600;
}

h3 {
  font-family: "Spartan", Sans-Serif;
  font-weight: 600;
  color: #f681b5;
}

h5 {
  font-family: "Spartan", Sans-Serif;
  font-weight: 200 !important;
  line-height: 2rem !important;
}

.container-fluid > .btn {
  background-color: var(--orange) !important;
}

.jumbotron-content {
  margin-left: 5em;
  margin-top: 10em;
  margin-right: 1em;
}

p,
.card-text {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 20px;
}

.nav-link:hover {
  color: var(--navy) !important;
}

.btn {
  background-color: var(--orange) !important;
  border: var(--navy) !important;
}

.btn:hover {
  opacity: 80%;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.jumbotron-fluid {
  position: relative !important;
  background: none !important;
}

.jumbotron-fluid:after {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-image: url(./header.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100% !important;
  height: 600px !important;
  opacity: 0.7 !important;
  z-index: -1 !important;
  margin-bottom: 2em;
}

.container {
  padding-top: 10em;
}

h2 > .bi {
  font-size: 100px;
}

.container-fluid {
  background-color: var(--navy);
  color: white;
  padding-top: 6em !important;
  padding-bottom: 6em !important;
}
