:root {
  --pink: #ea96ed;
  --green: #28a428;
  --orange: #ff8533;
  --navy: #203054;
}

.navbar-brand > img {
  height: 4em;
  width: 4em;
}

.nav-link {
  color: white !important;
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 20px;
  font-weight: 600;
}

.text-in-jumbotron {
  padding-top: 4em;
  padding-left: 2em;
  font-size: 3em !important;
}

p,
.card-text {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 20px;
}

.navbar-brand,
h1,
.card-title {
  font-family: "Playfair Display", Serif;
  font-size: 1.75em !important;
  font-weight: 800;
  color: var(--pink) !important;
}

.nav-link:hover {
  color: var(--pink) !important;
}

.btn {
  background-color: var(--green) !important;
  border: var(--green) im !important;
}

.btn:hover {
  background-color: #1c7c13 !important;
  border: #1c7c13 !important;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.donate-link {
  color: var(--pink) !important;
}

.jumbotron-fluid {
  position: relative !important;
  background: none !important;
}

.jumbotron-fluid:after {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-image: url(./header.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100% !important;
  height: 600px !important;
  opacity: 0.7 !important;
  z-index: -1 !important;
  margin-bottom: 2em;
}

.container {
  padding-top: 18em;
}
